@font-face {
    font-family: "RixModernL";
    src: url("../../public/Resource/RixModernL.ttf");
}

@font-face {
    font-family: "RixLightEB";
    src: url("../../public/Resource/RixLightEB.ttf");
}

@font-face {
    font-family: "RixLightM";
    src: url("../../public/Resource/RixLightM.ttf");
}

.Sentence {
    display: inline-block;
    height:30px;
    font-family: "RixModernL";
    font-weight: 700;
    font-size:14px;
    color: #494040;
}