@font-face {
    font-family: "RixModernL";
    src: url("../../public/Resource/RixModernL.ttf");
}

@font-face {
    font-family: "RixLightEB";
    src: url("../../public/Resource/RixLightEB.ttf");
}

@font-face {
    font-family: "RixLightM";
    src: url("../../public/Resource/RixLightM.ttf");
}


.HeaderContainer {
    background-image: url('../image/HeaderBackground.jfif');
    background-size: cover;
    opacity: 0.7;
    min-width: 1600px;
    display: flex;
    overflow: auto;
}

.HeaderContainer .LeftOffset {
    width: 550px;
}

.profileImageContainer {
    width: 280px;
    height: 280px; 
    position:absolute;
    left:180px;
    top:180px;
    z-index: 1;
}

.profileImage {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    z-index: 1;
}

.ProfileName {
    font-family: "RixModernL";
    font-weight: 800;
    font-size: 60px;
    vertical-align: bottom;
    margin-top: 200px;
    width: 1000px;
}

.ProfileJob {
    font-family: "RixModernL";
    font-weight: 800;
    font-size: 30px;
    margin-top: 40px;
    height:40px;
    width: 1000px;
}

.ProfileContact {
    float: left;
    font-family: "RixModernL";
    font-weight: 800;
    font-size: 17px;
    margin-top: 45px;
    transition: opacity 1s 0s;
    opacity:1;
}

.ProfileContactHide {
    float: left;
    font-size: 17px;
    margin-top: 45px;
    height:20px;
    opacity:0;
}

.ProfileContactIcon {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    filter: invert(100%);
}

.ProfileContactSpan {
    float: left;
    line-height: 30px;
    margin-right: 80px;
    vertical-align: middle;
}