@font-face {
    font-family: "RixModernL";
    src: url("../../public/Resource/RixModernL.ttf");
}

@font-face {
    font-family: "RixLightEB";
    src: url("../../public/Resource/RixLightEB.ttf");
}

@font-face {
    font-family: "RixLightM";
    src: url("../../public/Resource/RixLightM.ttf");
}

.ProjectMainContainer {
    height:fit-content;

    float:left;
    position: relative;
    font-family: "RixModernL";
}

.TimeLine {
    height: 100%;

    border-left: 3px dashed #a39393;
    float:left;
    position:absolute;
    z-index: 0;    
    left: 8px;
    overflow:auto;
}

.ComapnyHeaderContainer {
    
    margin-top: 50px;

    width: fit-content;

    display:block;
    overflow-x:auto;
    z-index: 1;
}

.CompanyHeaderIcon {
    width: 18px;
    height:18px;
    
    float:left;
    border-radius: 50%;
    border-color: #fbbd08;
    border-style: solid;
    border-width: 4px;
    background-color: rgb(255, 255, 255);
    position:relative;
    z-index: 1;
}

.CompanyHeaderTitle{
    font-family: "RixLightM";
    font-size: 20px;
    font-weight: 1000;
    
    margin-left:20px;

    width:fit-content;
    height: fit-content;    

    float: left;
    display: inline;
    align-items: center;
    flex-direction: row;
    color: #494040;
}

.CompanyHeaderSubTitle{
    font-family: "RixLightM";
    font-size:12px;
    font-weight: 600;

    margin-left:10px;
    margin-top: 2px;

    width:fit-content;
    height: fit-content;

    float: left;
    display: inline;
    align-items: center;
    flex-direction: row;
    color: #494040;
}

.CompanyHeaderDropdownIcon {
    margin-left:10px;

    width:20px;
    height:20px;

    float: left;
    align-items: center;
    flex-direction: row;
}

.CompanyBodyContainer {
    
    font-size:14px;
    font-weight: 1000;

    margin-top: 10px;
    margin-left: 30px;
    padding: 0px 15px;
    width: 850px;
    min-width: 850px;

    display:block;
    overflow:hidden;
    color: #494040;
}

.ProjectHeaderContainer {
    margin-top: 8px;
}

.ProjectHeaderTitle {
    font-size: 16px;
    font-family: "RixLightM";
}

.ProjectHeaderSubTitle {
    margin: 4px 0px 0px 8px;
    font-size: 12px;
}

.ProjectBodyContainer {
    margin: 16px 0px 60px 36px;
    font-weight: 600;
    font-size: 13px;
}

.ProjectBodyContentContainer {
    
    width:100%;
    height: fit-content;
    display: inline-flex;
}

.SentenceDepth1 {
    padding: 16px 0px 4px 4px;
}

.SentenceDepth2 {
    padding-left: 28px;
    padding-top: 8px;
}

.SentenceDepth3 {
    padding-left: 40px;
    padding-top: 4px;
}

.SentenceDepth4 {
    padding-left: 60px;   
}

.ui.tag.label:before {
    width: 1.22em;
    height: 1.22em;
}